<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Create New Account</title>
</head>

<body>
	
	<section id="form">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="signup-form">
						<h2>New User Signup!</h2>
						<form action="#">
							<input type="text" placeholder="Name"/>
							<input type="password" placeholder="Password"/>
							<input type="password" placeholder="Confirm Password"/>
							<input type="email" placeholder="Email Address"/>
							<input type="number" placeholder="Mobile Number"/>
							<textarea placeholder="Shipment Address"></textarea><br><br>
							<button type="submit" class="btn btn-default">Signup</button>
						</form>
						<br/><br/>
					Already have Account ? <a routerLink="/login"> Sign in </a>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>